In [5]:
print("dictionary")

dict1 = {}
dict2 = {}

var1 = int(input("Enter lower range : "))
var2 = int(input("Enter top range : "))

for i in range(var1,var2+1):
  dict1[i]= i
  dict2[i]= i*i

print(dict1)
print()
print(dict2)

dictionary
Enter lower range : 1
Enter top range : 5
{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [6]:
#2nd

In [9]:
print("Tuple code")

var1= int(input("First input"))
var2 = int(input("Sencond input"))

list1 = []

for i in range(var1,var2+1):
  list2 = []
  list2.append(i)
  list2.append(i*i)
  list1.append(tuple(list2))

print(list1)

Tuple code
First input1
Sencond input4
[(1, 1), (2, 4), (3, 9), (4, 16)]

In [10]:
# 3rd

In [11]:
list1 = []

while True:
  var1 = input("Enter the nbumber :")
  if var1 !='':
    list1.append(var1)
  else:
    break
print("\n",list1)

sum = 0
list2 = []
for i in list1:
  j = int(i)

  sum = sum + j
  list2.append(sum)

print("Original list : ",list1)
print("Final list : ",list2)

Enter the nbumber :1
Enter the nbumber :2
Enter the nbumber :3
Enter the nbumber :4
Enter the nbumber :5
Enter the nbumber :

 ['1', '2', '3', '4', '5']
Original list :  ['1', '2', '3', '4', '5']
Final list :  [1, 3, 6, 10, 15]

In [13]:
# 4th

In [18]:
var1=int(input("Enter lower range : "))
var2 = int(input("Enter top range :"))
#list1 =[]
list2 = []

for i in range(var1,var2+1):
  
  if (i%2!=0):
    j = str(i)
    if j==j[::-1]:
      list2.append(j)
print(list2)

Enter lower range : 300
Enter top range :400
['303', '313', '323', '333', '343', '353', '363', '373', '383', '393']

In [17]:
# 5th

In [25]:
var1 = input("Enter input along with hyphen")
var2 = var1.split("-")

var2.sort()
print("-".join(var2))

Enter input along with hyphenred-green-blue-yellow
blue-green-red-yellow

In [27]:
# r

In [36]:
dict1 = {
    "mobile1" : 10000,
    "mobile2" : 11000,
    "mobile3" : 13000,
    "mobile4" : 9000,
    "mobile5" : 15000,
    "mobile6" : 16000,
    "mobile7" : 17000,
    "mobile8" : 18000,
    "mobile9" : 19000

}

var1=min(dict1.values())

for i,j in dict1.items():
  if j==var1:
    print(i,j)

mobile4 9000

In [44]:
list1 = []
while True:
  var1 = input("Enter the item :")
  if var1 != "":
    list1.append(var1)
  else:
    break
print(list1)
var2 = set(list1)
var3 = list(var2)
dict1 = {}
for i in var3:
  var4 = list1.count("i")
  dict1[i]= var4

var5 = max(dict1.values())
if var5 > len(list1)+1:
  print(var5," has majority")
else:
  print("no one has majpority")

Enter the item :pav
Enter the item :pav
Enter the item :pav
Enter the item :pav
Enter the item :ban
Enter the item :
['pav', 'pav', 'pav', 'pav', 'ban']
no one has majpority

In [ ]:
n = int(input())

for i in range(n+1):
  if