In [1]:
import pandas as pd

In [2]:
from google.colab import files
downloaded_file = files.upload()

Saving crude-oil-price.csv to crude-oil-price.csv

In [4]:
import io
df = pd.read_csv(io.BytesIO(downloaded_file["crude-oil-price.csv"]))

In [9]:
#printing number of rows and columns

df.shape

(469, 4)

In [27]:

print("In this data set we have ",len(df)," rows. And ",len(df.columns)," columns. Column names are :- ")

In this data set we have  469  rows. And  4  columns. Column names are :-

In [29]:
print("Column names are : ")
for i in df.columns:
  print(i,end=" ")

Column names are :
date price percentChange change

In [32]:
df.head()

                  date  price  percentChange  change
0  1983-03-30T00:00:00  29.27            NaN     NaN
1  1983-04-04T00:00:00  30.63       4.646396    1.36
2  1983-05-02T00:00:00  30.25      -1.240614   -0.38
3  1983-06-01T00:00:00  31.38       3.735537    1.13
4  1983-07-01T00:00:00  32.00       1.975781    0.62

In [34]:
dt = df.date
dt

0      1983-03-30T00:00:00
1      1983-04-04T00:00:00
2      1983-05-02T00:00:00
3      1983-06-01T00:00:00
4      1983-07-01T00:00:00
              ...
464    2021-11-01T00:00:00
465    2021-12-01T00:00:00
466    2022-01-03T00:00:00
467    2022-02-01T00:00:00
468    2022-03-01T00:00:00
Name: date, Length: 469, dtype: object

In [39]:
#column Date addded and trying to add only first 10 charecters in it

df["Date"]=df.date[:10]

#output did not meet expectations.

In [42]:
#dropped column Date
df.drop("Date",axis=1,inplace=True)

In [43]:
df.head()

                  date  price  percentChange  change
0  1983-03-30T00:00:00  29.27            NaN     NaN
1  1983-04-04T00:00:00  30.63       4.646396    1.36
2  1983-05-02T00:00:00  30.25      -1.240614   -0.38
3  1983-06-01T00:00:00  31.38       3.735537    1.13
4  1983-07-01T00:00:00  32.00       1.975781    0.62

In [44]:
#Column Date addded and trying to add only first 10 charecters in it

for i in df.date:
  df["Date"]=i[:10]
df.head(5)

                  date  price  percentChange  change        Date
0  1983-03-30T00:00:00  29.27            NaN     NaN  2022-03-01
1  1983-04-04T00:00:00  30.63       4.646396    1.36  2022-03-01
2  1983-05-02T00:00:00  30.25      -1.240614   -0.38  2022-03-01
3  1983-06-01T00:00:00  31.38       3.735537    1.13  2022-03-01
4  1983-07-01T00:00:00  32.00       1.975781    0.62  2022-03-01

In [45]:
#changing the position/order of column Date, shifting to index 0
var1 = df.pop("Date")

In [46]:
df.insert(0,"Date",var1)

In [48]:
df.head()

         Date                 date  price  percentChange  change
0  2022-03-01  1983-03-30T00:00:00  29.27            NaN     NaN
1  2022-03-01  1983-04-04T00:00:00  30.63       4.646396    1.36
2  2022-03-01  1983-05-02T00:00:00  30.25      -1.240614   -0.38
3  2022-03-01  1983-06-01T00:00:00  31.38       3.735537    1.13
4  2022-03-01  1983-07-01T00:00:00  32.00       1.975781    0.62

In [49]:
df.drop("date",axis=1,inplace=True)
df.head(4)

         Date  price  percentChange  change
0  2022-03-01  29.27            NaN     NaN
1  2022-03-01  30.63       4.646396    1.36
2  2022-03-01  30.25      -1.240614   -0.38
3  2022-03-01  31.38       3.735537    1.13

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           469 non-null    object
 1   price          469 non-null    float64
 2   percentChange  468 non-null    float64
 3   change         468 non-null    float64
dtypes: float64(3), object(1)
memory usage: 14.8+ KB

In [54]:
df.isnull().sum()

Date             0
price            0
percentChange    1
change           1
dtype: int64

In [57]:
df[df["percentChange"].isnull()]

         Date  price  percentChange  change
0  2022-03-01  29.27            NaN     NaN

In [58]:
#as there was 1 null value, dropping it
df.dropna(inplace=True)

In [59]:
df.isnull().sum()

Date             0
price            0
percentChange    0
change           0
dtype: int64

In [60]:
df.price.sum()

20636.5998

In [61]:
df.price.mean()

44.095298717948715

In [63]:
df.tail(15)

           Date   price  percentChange  change
454  2022-03-01   52.20       7.584501    3.68
455  2022-03-01   61.50      17.816092    9.30
456  2022-03-01   59.16      -3.804878   -2.34
457  2022-03-01   63.58       7.471264    4.42
458  2022-03-01   66.93       5.268953    3.35
459  2022-03-01   73.47       9.771403    6.54
460  2022-03-01   73.95       0.653328    0.48
461  2022-03-01   68.50      -7.369844   -5.45
462  2022-03-01   75.03       9.532847    6.53
463  2022-03-01   81.78       8.996401    6.75
464  2022-03-01   65.85     -19.479090  -15.93
465  2022-03-01   74.88      13.712984    9.03
466  2022-03-01   86.49      15.504808   11.61
467  2022-03-01   93.50       8.104983    7.01
468  2022-03-01  107.82      15.315508   14.32

In [ ]:
#While performing operatons, dates from datebase got changed accidently.