In [2]:
import pandas as pd

In [3]:
given_list = [2, 4, 5, 6, 9]

s1 = pd.Series(given_list,index=["A","B","C",'D',"E"])

print(s1)

A    2
B    4
C    5
D    6
E    9
dtype: int64

In [4]:
# Date Series Generation

In [5]:
dt1 = pd.date_range(start = "05-01-2022", end = "05-12-2022") 

print(dt1)
print(len(dt1))

DatetimeIndex(['2022-05-01', '2022-05-02', '2022-05-03', '2022-05-04',
               '2022-05-05', '2022-05-06', '2022-05-07', '2022-05-08',
               '2022-05-09', '2022-05-10', '2022-05-11', '2022-05-12'],
              dtype='datetime64[ns]', freq='D')
12

In [6]:
#  Implementing a function on each and every element of a series

In [7]:
s1 = pd.Series([2,4,6,8,10])

print(s1,"\n")

new_s1 = s1.apply(lambda x:x/2)

print(new_s1)

0     2
1     4
2     6
3     8
4    10
dtype: int64

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [9]:
#Dict to dataframe

dictionary = {'name': ['Vinay', 'Kushal', 'Aman'],
              'age' : [22, 25, 24],
              'occ' : ['engineer', 'doctor', 'accountant']}
df1 = pd.DataFrame(dictionary,index=['a','b','c'])

print(df1)

     name  age         occ
a   Vinay   22    engineer
b  Kushal   25      doctor
c    Aman   24  accountant

In [12]:
df1.iloc[1]

name    Kushal
age         25
occ     doctor
Name: b, dtype: object

In [13]:
df1.occ

a      engineer
b        doctor
c    accountant
Name: occ, dtype: object

In [15]:
df1['occ']

a      engineer
b        doctor
c    accountant
Name: occ, dtype: object

In [16]:
df1[df1.occ=='engineer']

    name  age       occ
a  Vinay   22  engineer

In [17]:
df1["age"].sum()

71

In [20]:
len(df1.age)

3

In [21]:
max(df1.age)

25

In [22]:
sum(df1.age)

71

In [24]:
df1.age.mean()

23.666666666666668

In [25]:
df1.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

age    23.666667
dtype: float64

In [26]:
df1.head()

     name  age         occ
a   Vinay   22    engineer
b  Kushal   25      doctor
c    Aman   24  accountant

In [27]:
df1.shape

(3, 3)

In [28]:
df1.describe

<bound method NDFrame.describe of      name  age         occ
a   Vinay   22    engineer
b  Kushal   25      doctor
c    Aman   24  accountant>

In [35]:
from google.colab import files
uploaded_file = files.upload()

Saving NetflixOriginals.csv to NetflixOriginals (1).csv

In [39]:
import io
df2 =pd.read_csv(io.BytesIO(uploaded_file["NetflixOriginals.csv"]),encoding = "ISO-8859-1")

In [40]:
df2.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi

In [43]:
t1 = df2[df2.Genre=="Thriller"]

In [44]:
t1.count()

Title         33
Genre         33
Premiere      33
Runtime       33
IMDB Score    33
Language      33
dtype: int64

In [49]:
print(df2.isnull().count())
print()
print(df2.isnull().sum())

Title         584
Genre         584
Premiere      584
Runtime       584
IMDB Score    584
Language      584
dtype: int64

Title         0
Genre         0
Premiere      0
Runtime       0
IMDB Score    0
Language      0
dtype: int64

In [53]:
t1 = df2.notnull().sum()
t2 = df2.isnull().sum()
print(t2-t1)

Title        -584
Genre        -584
Premiere     -584
Runtime      -584
IMDB Score   -584
Language     -584
dtype: int64

In [54]:
df2.columns

Index(['Title', 'Genre', 'Premiere', 'Runtime', 'IMDB Score', 'Language'], dtype='object')

In [59]:
t3 = df2[df2["IMDB Score"]>8]
t3.head(5)

,Title,Genre,Premiere,Runtime,IMDB Score,Language
568,Chasing Coral,Documentary,"July 14, 2017",89,8.1,English
569,My Octopus Teacher,Documentary,"September 7, 2020",85,8.1,English
570,Rising Phoenix,Documentary,"August 26, 2020",106,8.1,English
571,13th,Documentary,"October 7, 2016",100,8.2,English
572,Disclosure: Trans Lives on Screen,Documentary,"June 19, 2020",107,8.2,English

In [63]:
t4 = df2[df2["Premiere"] > "01-01-2016"]
t4

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi
...,...,...,...,...,...,...
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

In [65]:
t5 = (t3 & t4)
print(t5)

TypeError: ignored

In [69]:
print(t3.dtypes)
print()
type(t3)

Title          object
Genre          object
Premiere       object
Runtime         int64
IMDB Score    float64
Language       object
dtype: object

pandas.core.frame.DataFrame

In [79]:
t6 = df2["IMDB Score"].idxmax()

In [81]:
df2.iloc[t6]

Title         David Attenborough: A Life on Our Planet
Genre                                      Documentary
Premiere                               October 4, 2020
Runtime                                             83
IMDB Score                                         9.0
Language                                       English
Name: 583, dtype: object

In [83]:
t7 = df2["IMDB Score"].idxmin()
df2.iloc[t7]

Title          Enter the Anime
Genre              Documentary
Premiere        August 5, 2019
Runtime                     58
IMDB Score                 2.5
Language      English/Japanese
Name: 0, dtype: object

In [89]:
print("total number of movies which has rating less than 3 :",len(df2[df2["IMDB Score"]<3]))
print()
df2[df2["IMDB Score"]<3]

total number of movies which has rating less than 3 : 3

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian

In [93]:
for i in df2["Title"]:
  print(f"Title is {i}, and its length is : {len(i)}")

Title is Enter the Anime, and its length is : 15
Title is Dark Forces, and its length is : 11
Title is The App, and its length is : 7
Title is The Open House, and its length is : 14
Title is Kaali Khuhi, and its length is : 11
Title is Drive, and its length is : 5
Title is Leyla Everlasting, and its length is : 17
Title is The Last Days of American Crime, and its length is : 31
Title is Paradox, and its length is : 7
Title is Sardar Ka Grandson, and its length is : 18
Title is Searching for Sheela, and its length is : 20
Title is The Call, and its length is : 8
Title is Whipped, and its length is : 7
Title is All Because of You, and its length is : 18
Title is Mercy, and its length is : 5
Title is After the Raid, and its length is : 14
Title is Ghost Stories, and its length is : 13
Title is The Last Thing He Wanted, and its length is : 24
Title is What Happened to Mr. Cha?, and its length is : 25
Title is Death Note, and its length is : 10
Title is Hello Privilege. It's Me, Chelsea, and its length is : 33
Title is Secret Obsession, and its length is : 16
Title is Sextuplets, and its length is : 10
Title is The Girl on the Train, and its length is : 21
Title is Thunder Force, and its length is : 13
Title is Fatal Affair, and its length is : 12
Title is Just Say Yes, and its length is : 12
Title is Seriously Single, and its length is : 16
Title is The Misadventures of Hedi and Cokeman, and its length is : 37
Title is 5 Star Christmas, and its length is : 16
Title is After Maria, and its length is : 11
Title is I Am the Pretty Thing That Lives in the House, and its length is : 45
Title is Paris Is Us, and its length is : 11
Title is Porta dos Fundos: The First Temptation of Christ, and its length is : 48
Title is Rattlesnake, and its length is : 11
Title is The Players, and its length is : 11
Title is We Are One, and its length is : 10
Title is Finding Agnes, and its length is : 13
Title is IO, and its length is : 2
Title is Sentinelle, and its length is : 10
Title is Sol Levante, and its length is : 11
Title is The Binding, and its length is : 11
Title is We Can Be Heroes, and its length is : 16
Title is Christmas Crossfire, and its length is : 19
Title is Coin Heist, and its length is : 10
Title is Mrs. Serial Killer, and its length is : 18
Title is Nobody Sleeps in the Woods Tonight, and its length is : 34
Title is Take the 10, and its length is : 11
Title is The Main Event, and its length is : 14
Title is The Ridiculous 6, and its length is : 16
Title is Earth and Blood, and its length is : 15
Title is Fearless, and its length is : 8
Title is Holiday Rush, and its length is : 12
Title is The Day of the Lord, and its length is : 19
Title is Airplane Mode, and its length is : 13
Title is How It Ends, and its length is : 11
Title is Love Like the Falling Rain, and its length is : 26
Title is Rebirth, and its length is : 7
Title is Squared Love, and its length is : 12
Title is Cadaver, and its length is : 7
Title is Clinical, and its length is : 8
Title is Coffee & Kareem, and its length is : 15
Title is Dude, and its length is : 4
Title is Geez & Ann, and its length is : 10
Title is The Larva Island Movie, and its length is : 22
Title is #REALITYHIGH, and its length is : 12
Title is American Factory: A Conversation with the Obamas , and its length is : 49
Title is Desperados, and its length is : 10
Title is Dolly Parton's Christmas on the Square, and its length is : 38
Title is Father of the Year, and its length is : 18
Title is Firebrand, and its length is : 9
Title is Ghost Lab, and its length is : 9
Title is Girlfriend's Day, and its length is : 16
Title is Handsome: A Netflix Mystery Movie, and its length is : 33
Title is Hubie Halloween, and its length is : 15
Title is Ibiza, and its length is : 5
Title is Rim of the World, and its length is : 16
Title is Sandy Wexler, and its length is : 12
Title is See You Yesterday, and its length is : 17
Title is Still Laugh-In: The Stars Celebrate, and its length is : 35
Title is Strip Down, Rise Up, and its length is : 19
Title is Tall Girl, and its length is : 9
Title is The Beast, and its length is : 9
Title is The Week Of, and its length is : 11
Title is A Christmas Prince: The Royal Wedding, and its length is : 37
Title is Back to School, and its length is : 14
Title is Dangerous Lies, and its length is : 14
Title is Gunjan Saxena: The Kargil Girl, and its length is : 30
Title is Intuition, and its length is : 9
Title is The Most Assassinated Woman in the World, and its length is : 40
Title is Things Heard & Seen, and its length is : 19
Title is To Each, Her Own, and its length is : 16
Title is Who Would You Take to a Deserted Island?, and its length is : 40
Title is XOXO, and its length is : 4
Title is A Babysitter's Guide to Monster Hunting, and its length is : 39
Title is A Christmas Prince: The Royal Baby, and its length is : 34
Title is Despite Everything, and its length is : 18
Title is Dolly Kitty and Those Twinkling Stars, and its length is : 37
Title is Freaks: You're One of Us, and its length is : 24
Title is Game Over, Man!, and its length is : 15
Title is Guilty, and its length is : 6
Title is In the Tall Grass, and its length is : 17
Title is Madame Claude, and its length is : 13
Title is Naked, and its length is : 5
Title is Outside the Wire, and its length is : 16
Title is The Princess Switch: Switched Again, and its length is : 35
Title is Under the Riccione Sun, and its length is : 22
Title is A Very Murray Christmas, and its length is : 23
Title is Been So Long, and its length is : 12
Title is Dead Kids, and its length is : 9
Title is Get the Grift, and its length is : 13
Title is Ghosts of Sugar Land, and its length is : 20
Title is House Arrest, and its length is : 12
Title is Kevin Hart's Guide to Black History, and its length is : 35
Title is Love Wedding Repeat, and its length is : 19
Title is Mute, and its length is : 4
Title is Òlòt?ré, and its length is : 7
Title is Red Dot, and its length is : 7
Title is Ride or Die, and its length is : 11
Title is Step Sisters, and its length is : 12
Title is The Cloverfield Paradox, and its length is : 23
Title is The Knight Before Christmas, and its length is : 27
Title is The Legacy of a Whitetail Deer Hunter, and its length is : 37
Title is The Package, and its length is : 11
Title is Unicorn Store, and its length is : 13
Title is Wine Country, and its length is : 12
Title is Bomb Scared, and its length is : 11
Title is Brahman Naman, and its length is : 13
Title is Double Dad, and its length is : 10
Title is Falling Inn Love, and its length is : 16
Title is Hold the Dark, and its length is : 13
Title is Love, Guaranteed, and its length is : 16
Title is One-Way to Tomorrow, and its length is : 19
Title is Sarah Cooper: Everything's Fine, and its length is : 31
Title is The Last Laugh, and its length is : 14
Title is The Last Paradiso, and its length is : 17
Title is The Midnight Sky, and its length is : 16
Title is The Paramedic, and its length is : 13
Title is The Sleepover, and its length is : 13
Title is Vampires vs. the Bronx, and its length is : 22
Title is Why Did You Kill Me?, and its length is : 20
Title is A Week Away, and its length is : 11
Title is Caught by a Wave, and its length is : 16
Title is Christmas Inheritance, and its length is : 21
Title is Dad Wanted, and its length is : 10
Title is El Camino Christmas, and its length is : 19
Title is Eli, and its length is : 3
Title is Ginny Weds Sunny, and its length is : 16
Title is Good Sam, and its length is : 8
Title is Lionheart, and its length is : 9
Title is Little Evil, and its length is : 11
Title is One Take, and its length is : 8
Title is Out of Many, One, and its length is : 16
Title is Point Blank, and its length is : 11
Title is Prime Time, and its length is : 10
Title is The Do-Over, and its length is : 11
Title is The Holiday Calendar, and its length is : 20
Title is The Woman in the Window, and its length is : 23
Title is The Wrong Missy, and its length is : 15
Title is Velvet Buzzsaw, and its length is : 14
Title is Yes Day, and its length is : 7
Title is 15 August, and its length is : 9
Title is A California Christmas, and its length is : 22
Title is A Christmas Prince, and its length is : 18
Title is All Day and a Night, and its length is : 19
Title is American Son, and its length is : 12
Title is Barry, and its length is : 5
Title is Candy Jar, and its length is : 9
Title is Choked: Paisa Bolta Hai, and its length is : 23
Title is Class of '83, and its length is : 12
Title is Extinction, and its length is : 10
Title is Happy Anniversary, and its length is : 17
Title is I Am All Girls, and its length is : 14
Title is Let It Snow, and its length is : 11
Title is Mascots, and its length is : 7
Title is Operation Christmas Drop, and its length is : 24
Title is Rajma Chawal, and its length is : 12
Title is Rich in Love, and its length is : 12
Title is Rising High, and its length is : 11
Title is Rodney King, and its length is : 11
Title is Sierra Burgess Is a Loser, and its length is : 25
Title is Small Crimes, and its length is : 12
Title is Special Correspondents, and its length is : 22
Title is TAU, and its length is : 3
Title is The After Party, and its length is : 15
Title is The Babysitter: Killer Queen, and its length is : 28
Title is The Claus Family, and its length is : 16
Title is The Kissing Booth 2, and its length is : 19
Title is The Perfect Date, and its length is : 16
Title is What We Wanted, and its length is : 14
Title is You've Got This, and its length is : 15
Title is 6 Balloons, and its length is : 10
Title is A Fall from Grace, and its length is : 17
Title is Amateur, and its length is : 7
Title is Army of the Dead, and its length is : 16
Title is Cam, and its length is : 3
Title is Earthquake Bird, and its length is : 15
Title is Frankenstein's Monster's Monster, Frankenstein, and its length is : 46
Title is Horse Girl, and its length is : 10
Title is Notes from Dunblane: Lesson from a School Shooting, and its length is : 50
Title is Maska, and its length is : 5
Title is The Decline, and its length is : 11
Title is The Minimalists: Less Is Now, and its length is : 28
Title is The Polka King, and its length is : 14
Title is The Prom, and its length is : 8
Title is True Memoirs of an International Assassin, and its length is : 41
Title is Ultras, and its length is : 6
Title is Come Sunday, and its length is : 11
Title is Forgive Us Our Debts, and its length is : 20
Title is iBoy, and its length is : 4
Title is Lovefucked, and its length is : 10
Title is Juanita, and its length is : 7
Title is Murder Mystery, and its length is : 14
Title is Project Power, and its length is : 13
Title is Rebecca, and its length is : 7
Title is The Christmas Chronicles: Part Two, and its length is : 34
Title is The Kissing Booth, and its length is : 17
Title is The Princess Switch, and its length is : 19
Title is To All the Boys: P.S. I Still Love You, and its length is : 38
Title is War Machine, and its length is : 11
Title is 6 Underground, and its length is : 13
Title is Between Two Ferns: The Movie, and its length is : 28
Title is Burning Sands, and its length is : 13
Title is Casting JonBenet, and its length is : 16
Title is Deidra & Laney Rob a Train, and its length is : 26
Title is Finding 'Ohana, and its length is : 14
Title is Holidate, and its length is : 8
Title is Holiday in the Wild, and its length is : 19
Title is Hot Girls Wanted, and its length is : 16
Title is Like Father, and its length is : 11
Title is Lost Girls, and its length is : 10
Title is Otherhood, and its length is : 9
Title is Pee-wee's Big Holiday, and its length is : 21
Title is Rogue City, and its length is : 10
Title is Sergio, and its length is : 6
Title is Stuck Apart, and its length is : 11
Title is Tersanjung the Movie, and its length is : 20
Title is The Killer, and its length is : 10
Title is The Lovebirds, and its length is : 13
Title is The Most Hated Woman in America, and its length is : 31
Title is The Perfection, and its length is : 14
Title is Tribhanga  Tedhi Medhi Crazy, and its length is : 29
Title is Unknown Origins, and its length is : 15
Title is Work It, and its length is : 7
Title is Alien Xmas, and its length is : 10
Title is Baggio: The Divine Ponytail, and its length is : 27
Title is Below Zero, and its length is : 10
Title is Citation, and its length is : 8
Title is Crazy Awesome Teachers, and its length is : 22
Title is Have You Ever Seen Fireflies?, and its length is : 29
Title is High Flying Bird, and its length is : 16
Title is In the Shadow of the Moon, and its length is : 25
Title is Lost Bullet, and its length is : 11
Title is Octonauts & the Caves of Sac Actun, and its length is : 34
Title is Offering to the Storm, and its length is : 21
Title is Roxanne Roxanne, and its length is : 15
Title is Someone Great, and its length is : 13
Title is Spenser Confidential, and its length is : 20
Title is The Land of Steady Habits, and its length is : 25
Title is The Rachel Divide, and its length is : 17
Title is Voyuer , and its length is : 7
Title is Win It All, and its length is : 10
Title is 1922, and its length is : 4
Title is A Tale of Two Kitchens, and its length is : 22
Title is Alex Strangelove, and its length is : 16
Title is Apostle, and its length is : 7
Title is Benji, and its length is : 5
Title is Bright, and its length is : 6
Title is Cargo, and its length is : 5
Title is Concrete Cowboy, and its length is : 15
Title is Feel the Beat, and its length is : 13
Title is Get the Goat, and its length is : 12
Title is I Am Not an Easy Man, and its length is : 20
Title is June & Kopi, and its length is : 11
Title is Music Teacher, and its length is : 13
Title is Nail Bomber: Manhunt, and its length is : 20
Title is Notes for My Son, and its length is : 16
Title is Polar, and its length is : 5
Title is Porta dos Fundos: The Last Hangover, and its length is : 35
Title is Sand Castle, and its length is : 11
Title is Shimmer Lake, and its length is : 12
Title is Spectral, and its length is : 8
Title is The Babysitter, and its length is : 14
Title is The Discovery, and its length is : 13
Title is The Forest of Love, and its length is : 18
Title is The Laundromat, and its length is : 14
Title is The Legend of Cocaine Island, and its length is : 28
Title is The Outsider, and its length is : 12
Title is Time to Hunt, and its length is : 12
Title is To All the Boys: Always and Forever, and its length is : 35
Title is Travis Scott: Look Mom I Can Fly, and its length is : 32
Title is Uncorked, and its length is : 8
Title is Anelka: Misunderstood, and its length is : 21
Title is Ariana Grande: Excuse Me, I Love You, and its length is : 36
Title is ARQ, and its length is : 3
Title is Birders, and its length is : 7
Title is Como Caído del Cielo, and its length is : 20
Title is First Match, and its length is : 11
Title is Fractured, and its length is : 9
Title is Irreplaceable You, and its length is : 17
Title is Isi & Ossi, and its length is : 10
Title is John Was Trying to Contact Aliens, and its length is : 33
Title is Layla Majnun, and its length is : 12
Title is Murder to Mercy: The Cyntoia Brown Story, and its length is : 40
Title is My Own Man, and its length is : 10
Title is Nappily Ever After, and its length is : 18
Title is Over the Moon, and its length is : 13
Title is Street Flow, and its length is : 11
Title is Strong Island, and its length is : 13
Title is Sturgill Simpson Presents: Sound & Fury, and its length is : 39
Title is Take Your Pills, and its length is : 15
Title is The Heartbreak Club, and its length is : 19
Title is The Mars Generation, and its length is : 19
Title is The Occupant, and its length is : 12
Title is The Willoughbys, and its length is : 15
Title is Triple Frontier, and its length is : 15
Title is Two Catalonias, and its length is : 14
Title is Walk. Ride. Rodeo., and its length is : 18
Title is Wheelman, and its length is : 8
Title is When We First Met, and its length is : 17
Title is A 3 Minute Hug, and its length is : 14
Title is All the Bright Places, and its length is : 21
Title is All Together Now, and its length is : 16
Title is Altered Carbon: Resleeved, and its length is : 25
Title is Antoine Griezmann: The Making of a Legend, and its length is : 41
Title is Canvas , and its length is : 7
Title is Chadwick Boseman: Portrait of an Artist, and its length is : 39
Title is Chopsticks, and its length is : 10
Title is Da 5 Bloods, and its length is : 11
Title is Dolly Parton: A MusiCares Tribute, and its length is : 33
Title is Eurovision Song Contest: The Story of Fire Saga, and its length is : 47
Title is Gerald's Game, and its length is : 13
Title is His House, and its length is : 9
Title is Jingle Jangle: A Christmas Journey, and its length is : 34
Title is Life Overtakes Me, and its length is : 17
Title is Lust Stories, and its length is : 12
Title is Monster, and its length is : 7
Title is Mowgli: Legend of the Jungle, and its length is : 28
Title is Nobody Knows I'm Here, and its length is : 21
Title is Nobody Speak: Trials of the Free Press, and its length is : 38
Title is Oxygen, and its length is : 6
Title is Set It Up, and its length is : 9
Title is The Incredible Jessica James, and its length is : 28
Title is Tigertail, and its length is : 9
Title is Tramps, and its length is : 6
Title is What Did Jack Do?, and its length is : 17
Title is Bad Trip, and its length is : 8
Title is Bird Box, and its length is : 8
Title is Bulbbul, and its length is : 7
Title is Crazy About Her, and its length is : 15
Title is Elisa & Marcela, and its length is : 15
Title is I'll Sleep When I'm Dead, and its length is : 24
Title is I'm Thinking of Ending Things, and its length is : 29
Title is It Takes a Lunatic, and its length is : 18
Title is Milestone, and its length is : 9
Title is Recovery Boys, and its length is : 13
Title is ReMastered: Who Killed Jam Master Jay?, and its length is : 38
Title is Shawn Mendes: In Wonder, and its length is : 23
Title is Space Sweepers, and its length is : 14
Title is The American Meme, and its length is : 17
Title is The Angel, and its length is : 9
Title is The Crimes That Bind, and its length is : 20
Title is The Red Sea Diving Resort, and its length is : 25
Title is What Would Sophia Loren Do?, and its length is : 27
Title is A Whisker Away, and its length is : 14
Title is Ajeeb Daastaans, and its length is : 15
Title is Arlo the Alligator Boy, and its length is : 22
Title is Bikram: Yogi, Guru, Predator, and its length is : 28
Title is Blame!, and its length is : 6
Title is Blue Miracle, and its length is : 12
Title is CounterPunch , and its length is : 13
Title is Crack: Cocaine, Corruption & Conspiracy, and its length is : 39
Title is Extraction, and its length is : 10
Title is Giving Voice, and its length is : 12
Title is Hillbilly Elegy, and its length is : 15
Title is Hope Frozen: A Quest to Live Twice, and its length is : 34
Title is Imperial Dreams, and its length is : 15
Title is Just Another Christmas, and its length is : 22
Title is Little Miss Sumo, and its length is : 16
Title is Malcolm & Marie, and its length is : 15
Title is Michael Bolton's Big, Sexy, Valentine's Day Special, and its length is : 51
Title is Moxie, and its length is : 5
Title is Night in Paradise, and its length is : 17
Title is Paper Lives, and its length is : 11
Title is Parchis: The Documentary, and its length is : 24
Title is Tallulah, and its length is : 8
Title is The Old Guard, and its length is : 13
Title is Tony Robbins: I Am Not Your Guru, and its length is : 32
Title is Upstarts, and its length is : 8
Title is 22 July, and its length is : 7
Title is 7 años, and its length is : 6
Title is A Futile and Stupid Gesture, and its length is : 27
Title is A Life of Speed: The Juan Manuel Fangio Story, and its length is : 45
Title is A Love Song for Latasha, and its length is : 23
Title is All in My Family, and its length is : 16

In [94]:
len(df2["Title"])

584

In [96]:
t7 = df2['Title'].str.len()
df2["String Length"]=t7

In [97]:
df2.columns

Index(['Title', 'Genre', 'Premiere', 'Runtime', 'IMDB Score', 'Language',
       'String Length'],
      dtype='object')

In [99]:
t8 = max(df2["String Length"])
print(df2[df2["String Length"]==t8])

                                                 Title        Genre  \
556  Jim & Andy: The Great Beyond - Featuring a Ver...  Documentary

              Premiere  Runtime  IMDB Score Language  String Length
556  November 17, 2017       94         7.7  English            106

In [100]:
df2.iloc[556]

Title            Jim & Andy: The Great Beyond - Featuring a Ver...
Genre                                                  Documentary
Premiere                                         November 17, 2017
Runtime                                                         94
IMDB Score                                                     7.7
Language                                                   English
String Length                                                  106
Name: 556, dtype: object

In [101]:
t8 = df2["String Length"].min()

In [104]:
t8
print(df2[df2["String Length"]==t8])

   Title                  Genre          Premiere  Runtime  IMDB Score  \
38    IO  Science fiction/Drama  January 18, 2019       95         4.7

   Language  String Length
38  English              2

In [105]:
df2.iloc[38]

Title                               IO
Genre            Science fiction/Drama
Premiere              January 18, 2019
Runtime                             95
IMDB Score                         4.7
Language                       English
String Length                        2
Name: 38, dtype: object